<% if fund_queues.any? %>
<table>
<thead>
<tr>
<th>Advertised submit at</th>
<th>Submit at</th>
<th>Release at</th>
<th>Fund request types</th>
</tr>
</thead>
<tbody>
<%=render :partial => 'fund_queues/fund_queue', :collection => fund_queues %>
</tbody>
</table>
<% else %>
<p>
No fund queues.
</p>
<% end %>

