<% user ||= false; approvable ||= false %>
<table>
  <thead>
  <tr>
    <% if user %>
    <th>User</th>
    <% end %>
    <% if approvable %>
    <th>Approvable</th>
    <% end %>
    <th>Created</th>
  </tr>
  </thead>
<tbody>
<%= render :partial => 'approvals/approval', :collection => approvals, :locals => { :user => user, :approvable => approvable } %>
</tbody>
</table>

