<h2>Listing approvals for <%= @approvable ? @approvable : @user %></h2>

<%= render :partial => "approvals", :object => @approvals,
  :locals => { :user => true, :approvable => true } %>
<br />

<p>
<% new_approval = @approvable.approvals.build; new_approval.user = current_user %>
<% if permitted_to? :create, new_approval -%>
<%= link_to 'New approval', new_polymorphic_path( [ @approvable, :approval ] ) %>
<% end -%>
</p>

