<h2>Listing approvals</h2>

<%= render :partial => "approvals", :object => @approvals,
  :locals => { :user => true, :approvable => true } %>
<br />

<p>
<%= link_to 'New approval', new_polymorphic_path( [ @approvable, :approval ] ) %>
</p>

