<h1>Listing approvals</h1>

<table>
  <tr>
    <th>User</th>
    <th>Approvable</th>
    <th>Created</th>
  </tr>

<%= render :partial => 'approval', :collection => @approvals,
           :locals => { :user => true, :approvable => true } %>

</table>

<br />

<p>
<%= link_to 'New approval', new_approval_path %>
</p>

