<h1>Approve <%=h @approval.approvable %></h1>

<% form_for( :approval, @approval, :url => approvable_approvals_path(@approval.approvable) ) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.submit 'Confirm Approval' %>
  </p>
<% end %>

<p>
<%= link_to 'Back', @approval.approvable %>
</p>

