<p>
  <b>User:</b> <%=h @approval.user %>
</p>

<p>
  <b>Approvable:</b> <%=h @approval.approvable %>
</p>

<p>
  <b>Created at:</b> <%=h @approval.created_at %>
</p>

<p>
<%= link_to 'Back', polymorphic_path( [@approval.approvable,:approvals] ) %>
</p>

