<h2>Editing membership</h2>

<% semantic_form_for(@membership) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @membership %> |
<%= link_to 'Back', memberships_path %>
</p>

