<h2>Listing memberships</h2>

<%= will_paginate @memberships %>

<%= render :partial => "memberships", :object => @memberships, :locals => {
  :organization => @context.class == Organization, :user => @context.class == User
} %>

<%= will_paginate @memberships %>

<br />

<p>
<% if @context && permitted_to?( :create, @context.memberships.build ) %>
  <%= link_to "New membership for #{@context}", new_polymorphic_path( [ @context, :membership ] ) %>
<% end %>
</p>

