<h2>New membership</h2>

<% semantic_form_for( :membership, @membership, :url => polymorphic_path( [ @context, :memberships ] ) ) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to "Back to #{@context}", polymorphic_path( [ @context, :memberships ] ) %>
</p>

