 <p>
    <%= form.label :name,"Structure Name" %><br />
    <%= form.text_field :name %>
 </p>

 <p>
    <%= form.label :kind,"Kind" %><br />
    <%= form.select :kind, {"SAFC", "safc", "GPSAFC", "gpsafc"} %>
 </p>

