  <tr>
    <td><%=h structure.name %></td>
    <td><%= link_to 'Show', structure %></td>
    <td><%= link_to 'Edit', edit_structure_path(structure) %></td>
    <td><%= link_to 'Destroy', structure, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>

