<h2>Editing structure</h2>

<% semantic_form_for(@structure) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @structure %> |
<%= link_to 'Back', structures_path %>
</p>

