<h2>Listing structures</h2>

<%= render :partial => "structures", :object => @structures %>

<br />

<p>
<% if permitted_to? :create, Structure.new -%>
  <%= link_to 'New structure', new_structure_path %>
<% end -%>
</p>

