<h2>Editing edition for <%=h @edition.item %></h2>

<% semantic_form_for(@edition) do |f| %>
  <%= render :partial => "form", :object => f %>
<% end %>

<p>
<%= link_to 'Show', @edition %> |
<%= link_to 'Back', request_items_path(@edition.item.request) %>
</p>

