<h2>New edition for <%=h @edition.item %></h2>

<%= semantic_form_for( @edition, :url => item_editions_path(@edition.item) ) do |f| %>
  <%= render :partial => "form", :object => f %>
<% end %>

<p>
<%= link_to 'Back', request_items_path(@edition.item.request) %>
</p>

