<h2>Listing user status criterions</h2>

<%= render :partial => "user_status_criterions", :object => @user_status_criterions %>

<br />

<p>
<%= link_to 'New user_status_criterion', new_user_status_criterion_path %>
</p>

