<h1>New user status criterion</h1>

<% semantic_form_for(@user_status_criterion) do |f| %>
<%= render :partial => "form", :object => f %>
<% end %>

<p>
<%= link_to 'Back', user_status_criterions_path %>
</p>

