<p>
  <b>Statuses mask:</b>
  <%=h @user_status_criterion.statuses_mask %>
</p>


<%= link_to 'Edit', edit_user_status_criterion_path(@user_status_criterion) %> |
<%= link_to 'Back', user_status_criterions_path %>