<p>
  Total copy rate: <%=h number_to_currency(allocation.total_copy_rate) %>
</p>

<p>
  Total eligible expenses: <%=h number_to_currency(allocation.total_eligible_Expenses) %>
</p>

<p>
  Admission charge revenue: <%=h number_to_currency(allocation.admission_charge_revenue) %>
</p>

<p>
  Total request amount: <%=h number_to_currency(allocation.total_request_amount) %>
</p>

