<h2>Listing local events</h2>

<%= paginate @events %>

<table>
  <tr>
    <td>Start date</td>
    <td>Title</td>
    <td>Location</td>
    <td>Needs UUP?</td>
    <td>Purpose</td>
    <td>Organizations</td>
    <td>Contacts</td>
  </tr>

  <%= render :partial => 'local_event', :collection => @events %>
</table>

<%= paginate @events %>

