<p>
  Speaker name:
  <%=h allocation.speaker_name %>
</p>

<p>
  Performance date:
  <%=h allocation.performance_date %>
</p>

<p>
  Tax exempt expenses:
  <%=h number_to_currency(allocation.tax_exempt_expenses) %>
</p>

