<p>Travel cost: <%= number_to_currency calculation.travel_cost %></p>
<p>Lodging cost: <%= number_to_currency calculation.basic_lodging_cost %></p>
<p>Meals cost: <%= number_to_currency calculation.meals_cost %></p>

