<table>
<thead>
  <tr>
    <th>Name</th>
    <th>FundRequestable type</th>
    <th>FundItem amount limit</th>
    <th>FundItem quantity limit</th>
    <th>Structure</th>
    <th>Parent</th>
  </tr>
</thead>
<tbody>
<%= render :partial => "node", :collection => nodes %>
</tbody>
</table>

