<table>
<thead>
  <tr>
    <th>Name</th>
    <th>Requestable type</th>
    <th>Item amount limit</th>
    <th>Item quantity limit</th>
    <th>Structure</th>
    <th>Parent</th>
  </tr>
</thead>
<tbody>
<%= render :partial => "node", :collection => nodes %>
</tbody>
</table>

