<h2>Listing nodes for <%=h @structure %></h2>

<%= render :partial => "nodes", :object => @nodes %>
<br />

<p>
<% if permitted_to? :create, @structure.nodes.build -%>
<%= link_to 'New node', new_structure_node_path(@structure) %>
<% end -%>
</p>

