<h1>New node</h1>

<% form_for( :node,
             @node,
             :url => structure_nodes_path( @node.structure ),
             :method => :post ) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form',
             :object => f %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', structure_nodes_path( @node.structure ) %>

