<h2>New account transaction</h2>

<%= semantic_form_for( @account_transaction,
  :url => activity_account_account_transactions_path( @activity_account ) ) do |form| %>
<%= render :partial => 'form' %>
<% end %>

<p>
<%= link_to 'Back', activity_account_account_transactions_path( @activity_account ) %>
</p>

