<p>
Dear Officers of <%= @fund_grant.organization %>,
</p>

<p>
This email is to inform you that the <%= @fund_grant %> has been released for your review.  To see it, please go to: &lt;<%= fund_grant_url @fund_grant %>&gt;.
</p>

<%=markdown @fund_grant.fund_source.release_message %>

