<table id='fund-tiers'>
  <thead>
    <tr>
      <th>Maximum Allocation</th>
    </tr>
  </thead>
  <tbody>
    <%=render partial: 'fund_tiers/fund_tier', collection: fund_tiers %>
  </tbody>
</table>

