<p>
  <b>Description:</b> <%=h detail.description %>
</p>

<p>
  <b>Current?</b> <%= detail.current? 'Yes' : 'No' %>
</p>

<p>
  <b>Starts at:</b> <%=h detail.starts_at %>
</p>

<p>
  <b>Ends at:</b> <%=h detail.ends_at %>
</p>

