<h2>Listing registration terms</h2>

<%= render :partial => "registration_terms/registration_terms", :object => @registration_terms %>

<br />

<p>
<%= link_to 'New registration term', new_registration_term_path %>
</p>

