<h2>New fund_edition for <%=h @fund_edition.fund_item %></h2>

<%= semantic_form_for( @fund_edition, :url => fund_item_fund_editions_path(@fund_edition.fund_item) ) do |f| %>
  <%= render :partial => "form", :object => f %>
<% end %>

<p>
<%= link_to 'Back', fund_request_fund_items_path(@fund_edition.fund_item.fund_request) %>
</p>

