<table>
<thead>
  <tr>
    <th>Name</th>
    <th>Net Id</th>
    <th>Email</th>
    <th>Date of Birth</th>
  </tr>
</thead>
<tbody>
<%= render :partial => 'user', :collection => users %>
</tbody>
</table>

