<h2>Welcome, <%=h @user.full_name %></h2>

<h3>Organizations You Are In:<h3>

<table>
  <tr>
    <th>Organization</th>
    <th>Your Role(s)</th>
  </tr>

  <%= render :partial => "organization",
             :collection => @user.memberships.map { |m| m.organization } %>
</table>

<h3>Unmatched Registrations:<h3>

<%= render :partial => "registration",
           :collection => @user.memberships.map { |m| m.registration }.unmatched %>

