  <dt>Number of Alumni</dt>
  <dd><%=membership.number_of_alumni %></dd>

  <dt>Number of Faculty</dt>
  <dd><%=membership.number_of_faculty %></dd>

  <dt>Number of Grads</dt>
  <dd><%=membership.number_of_grads %></dd>

  <dt>Number of Others</dt>
  <dd><%=membership.number_of_others %></dd>

  <dt>Number of Staff</dt>
  <dd><%=membership.number_of_staff %></dd>

  <dt>Number of Undergrads</dt>
  <dd><%=membership.number_of_undergrads %></dd>

