<h2>Listing Registrations</h2>

<% form_for :search, :url => registrations_path, :html => { :method => :get } do |f| %>
  <p>
    <%= f.label :q, 'Search' %>
    <%= f.text_field :q %>
    <%= f.submit 'Go' %>
  </p>
<% end %>

<%= will_paginate @registrations %>

<%= render :partial => "registrations", :object => @registrations %>

<%= will_paginate @registrations %>

