<h2>All Registrations</h2>

<%= render :partial => "search" %>

<table>
<tr>
<th>Name</th>
</tr>
<ul>
<% @registrations.each do |registration| %>
  <tr>
  <td><%=h registration %></td>
  <td><%= link_to 'Show', registration_path(registration) %></td>
  <td><%= link_to 'Create Organization', registration_organization_path( registration, :html => { :method => :post }) %>
<% end %>
</ul>

