<% organization ||= false %>
<% with_balances ||= false %>
<table id='activity-accounts'>
<thead>
  <tr>
    <% unless organization %>
    <th>Organization</th>
    <% end %>
    <th>Source</th>
    <th>Category</th>
    <% if with_balances %>
    <th>Allocation</th>
    <th>Adjustments</th>
    <th>Available</th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<%= render partial: "activity_account", collection: activity_accounts,
  locals: { with_balances: with_balances } %>
</tbody>
</table>

