<table>
<thead>
  <tr>
    <th>University account</th>
    <th>Basis</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<%= render :partial => "activity_account", :collection => activity_accounts %>
</tbody>
</table>

