<h2>Editing activity account</h2>

<%= semantic_form_for(@activity_account) do |f| %>
  <% render :partial => 'activity_accounts/form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @activity_account %>
</p>

