<h2>New activity account</h2>

<%= semantic_form_for(@activity_account,
  :url => university_account_activity_accounts_path( @activity_account.university_account ) ) do |f| %>
  <% render :partial => 'activity_accounts/form', :object => f %>
<% end %>

<p>
<% if @university_account %>
<%= link_to 'Back', university_account_activity_accounts_path( @university_account ) %>
<% end %>
</p>

