<p>
Dear Officers of <%= @request.organization %>,
</p>

<p>
This email is a confirmation that your request for <%=h @request.basis %> has been accepted for review.
You will receive additional notice when a determination is released.
</p>

<p>
To see it, please go to: &lt;<%= link_to request_url(@request), request_url(@request) %>&gt;.
</p>

