<p>
This email is to inform you that your <%=h @request %> has been processed and
released for you to review.  To see it, please go to: &gt;<%= link_to request_url(@request), request_url(@request) %>&lt;.
</p>

<%= markdown @request.basis.release_message %>

