<p>
This email is to inform you that your <%=h @request %> has been processed and
released for you to review.  To see it, please go to: <%= link_to @request %>.
</p>

<%= redcloth(@request.basis.release_message) %>

