<% organization ||= false %>
<table>
  <thead>
    <tr>
      <% unless organization -%>
      <th>Organization</th>
      <% end -%>
      <th>Department code</th>
      <th>Subledger code</th>
      <th>Subaccount code</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "university_account", :collection => university_accounts,
      :locals => { :organization => organization }  %>
  </tbody>
</table>

