<% organization ||= false %>
<% if university_accounts.any? %>
<table id="university-accounts">
  <thead>
    <tr>
      <% unless organization -%>
      <th>Organization</th>
      <% end -%>
      <th>Account code</th>
      <th>Subaccount code</th>
      <th>Active?</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "university_accounts/university_account", :collection => university_accounts,
      :locals => { :organization => organization }  %>
  </tbody>
</table>
<% else %>
<p>No university accounts.</p>
<% end %>

