<h1>Editing document type</h1>

<% semantic_form_for(@document_type) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @document_type %> |
<%= link_to 'Back', document_types_path %>
</p>

