<h2>Listing document types</h2>

<%= render partial: "document_types/document_types", object: @document_types %>

<br />

<p>
<% if permitted_to? :create, DocumentType.new -%>
<%= link_to 'New document type', new_document_type_path %>
<% end -%>
</p>

