<div class="item">
  <% fields_for_item(item_form) do |item_f| %>
    <%= item_f.label :request_amount %>
    <%= item_f.text_field :request_amount %>
    <%= item_f.hidden_field :should_destroy, :value => '0' %>
    <%= link_to_function 'remove', 'mark_to_destroy(this); this.up().hide();' %>
  <% end %>
</div>

