<div class="request_item">
  <%= item_form.label :request_amount %>
  <%= item_form.text_field :request_amount %>
  <%= remove_link_unless_new_record(item_form) %>

  <%= link_to_function "Add child item", "add_child_item(this.up(), 1)" %>
</div>

