<table border="1px">
  <tr>
    <th>Perspective</th>
    <th>Amount</th>
    <th>Comment</th>
  </tr>

<%= render :partial => 'items/item', :collection => request_detail.items.root,
      :locals => { :read_only => true, :show_detail => true } %>

</table>

