<tr>
  <td colspan="3"><%= supporting_item %></td>
</tr>
<% supporting_item.node.document_types.each do |document_type| %>
<tr>
  <td><%=h document_type %></td>
  <td><%= supporting_item.versions.for_perspective('requestor').documents.for_type?( document_type ) %></td>
  <td>&nbsp;&nbsp;</td>
</tr>
<% end %>
<%= render :partial => 'supporting_item', :collection => supporting_item.children %>

