<h1>Editing request</h1>

<% form_for(@request) do |f| %>
<%= render :partial => 'form',
           :object => f %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @request %> |
<%= link_to 'Back', organization_requests_path( @request.organization ) %>

