<h1>Listing requests</h1>

<%= will_paginate @requests %>

<table>
  <tr>
    <td>Name</td>
    <td>Options</td>
  </tr>

  <%= render :partial => 'request', :collection => @requests %>
</table>

<%= will_paginate @requests %>

