<h1>Listing requests</h1>

<table>
  <tr>
    <td>Name</td>
    <td>Options</td>
  </tr>

  <%= render :partial => 'request', :collection => @requests %>
</table>

<p>
<%= link_to_if(true, 'New request', new_organization_request_path(@organization.id)) { "" } %>
</p>

