<h1>New request</h1>

<% form_for( :request, :url => request_structure_requests_path(@request.request_structure_id) ) do |f| %>
<%= render :partial => 'requests/form',
           :object => f %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', request_structure_requests_path(@request.request_structure_id) %>

