<h1>New request</h1>

<% form_for( :request,
             @request,
             :url => basis_requests_path(
                     @request.basis_id ),
             :method => :post ) do |f| %>
  <%= f.error_messages %>

<%= render :partial => 'form',
           :object => f %>
  <p>
    <%= f.submit 'Create' %>
  </p>

<% end %>
<%= link_to 'Back', basis_requests_path( @request.basis_id ) %>

