<h1>Showing request</h1>
<p>
  <b>Request structure:</b>
  <%=h @request.basis.structure.name %>
</p>

<p>
<%= link_to 'See request items',
            request_items_path( @request.id ) %>
</p>

<p>
<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to_request_organization_profiles @request %>
</p>

