<p>
  <b>Request structure:</b>
  <%=h @request.basis.structure.name %>
</p>

<p>
<%= link_to 'See request items',
            request_items_path( @request.id ) %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', basis_requests_path(@request.basis_id) %>

