<h2>Supporting documents checklist</h2>

<p>Request: <%=h @request %>

<table>
  <tr>
    <th>Document</th>
    <th>Online</th>
    <th>Pages Included</th>
  </tr>

  <%= render :partial => 'supporting_item', :collection => @request.items.root %>

</table>

