<h2>New fund_request_type</h2>

<%= semantic_form_for(@fund_request_type) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Back', fund_request_types_path %>
</p>

