<% status ||= false %>
<% fund_source ||= false %>
<% organization ||= false %>

<table>
<thead>
  <tr>
  <% unless fund_source -%>
    <th>FundSource</th>
  <% end -%>
  <% unless organization -%>
    <th>Organization</th>
  <% end -%>
  <% unless status -%>
    <th>Status</th>
  <% end -%>
  </tr>
</thead>
<tbody>
  <%= render :partial => 'fund_grants/fund_grant', :collection => fund_grants, :locals => {
    :organization => organization, :status => status, :fund_source => fund_source
  } %>
</tbody>
</table>

