<h2>New fund grant for <%= @fund_grant.organization %></h2>

<%= semantic_form_for( @fund_grant,
  url: organization_fund_grants_path(@fund_grant.organization) ) do |f| %>
  <%= render partial: 'form', object: f %>
<% end %>

<% if @fund_grant.organization.fund_sources.unfulfilled_for( current_user ).any? %>
  <p>
  You may be interested in the following fund sources, for which you or your organization have not fulfilled all requirements.
  </p>

  <% @fund_grant.organization.fund_sources.unfulfilled_for( current_user ).each do |fund_source| %>
    <%= render partial: "shared/unfulfilled_fund_grant",
      object: @fund_grant.organization.fund_grants.build( fund_source_id: fund_source.id ) %>
  <% end %>
<% end %>

