<h2><%= @fund_grant %></h2>

<p>
 <b>Fund source:</b> <%= @fund_grant.fund_source %>
</p>

<p>
 <b>Organization:</b> <%= @fund_grant.organization %>
</p>

<p>
  <b>Released at:</b> <%= @fund_grant.released_at :rfc822 %>
</p>

