<p>
This email is a notice that your approval was removed for <%=h @approval.approvable %>.
If you have any questions, please contact <%=h @approval.approvable.contact_name %>
&gt;<a href="mailto:<%= @approval.approvable.contact_email%>"><%= @approval.approvable.contact_email %></a>&lt;.
</p>

