<h1>Editing document</h1>

<% form_for( :document, @document, :html => { :multipart => true } ) do |f| %>
  <p>
    <strong>Document type:</strong> <%=h f.object.document_type.name %>
  </p>

  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @document %> |
<%= link_to 'Back', edition_documents_path(@document.edition) %>
</p>

