<h1>Listing documents for <%= @edition %></h1>

<table>
  <tr>
    <th>Type</th>
  </tr>

<%= render :partial => 'document', :collection => @documents %>

</table>

<br />

<p>
<%= link_to 'New document', new_edition_document_path( @edition ) %>
</p>

