<h1>New document for <%= @document.edition %></h1>

<% semantic_form_for( :document, @document, :url => edition_documents_path(@document.edition), :html => { :multipart => true } ) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Back', edition_documents_path( @document.edition ) %>
</p>

