<p>
  <strong>Document type:</strong> <%=h @document.document_type %>
</p>

<p>
<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', edition_documents_path(@document.edition) %>
</p>

