<table>
<thead>
  <tr>
    <th>Must register</th>
    <th>Minimal percentage</th>
    <th>Type of member</th>
  </tr>
</thead>
<tbody>
<%= render :partial => "registration_criterion", :collection => registration_criterions %>
</tbody>
</table>

