<h2>Editing registration criterion</h2>

<% semantic_form_for(@registration_criterion) do |f| %>
<%= render :partial => "form", :object => f %>
<% end %>

<p>
<%= link_to 'Show', @registration_criterion %> |
<%= link_to 'Back', registration_criterions_path %>
</p>

