<h1>Listing registration criterions</h1>

<%= render :partial => "registration_criterions", :object => @registration_criterions %>

<br />

<p>
<%= link_to 'New registration_criterion', new_registration_criterion_path %>
</p>

