<h2>Listing registration criterions</h2>

<%= render :partial => "registration_criterions", :object => @registration_criterions %>

<br />

<p>
<% if permitted_to? :create, RegistrationCriterion.new -%>
<%= link_to 'New registration criterion', new_registration_criterion_path %>
<% end -%>
</p>

