<h1>New registration_criterion</h1>

<% semantic_form_for(@registration_criterion) do |f| %>
<%= render :partial => "form", :object => f %>
<% end %>

<p>
<%= link_to 'Back', registration_criterions_path %>
</p>

