<h2>Listing permissions for <%=h @framework %></h2>

<table>
<thead>
  <tr>
    <th>Status</th>
    <th>Role</th>
    <th>Action</th>
    <th>Perspective</th>
  </tr>
</thead>
<tbody>
  <%= render :partial => 'permission', :collection => @permissions  %>
</tbody>
</table>

<br />

<p>
<%= link_to 'New permission', new_framework_permission_path(@framework) %>
</p>

