<h2>New permission for <%=h @permission.framework %></h2>

<% semantic_form_for( :permission, @permission,
  :url => framework_permissions_path(@permission.framework) ) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Back', framework_permissions_path( @permission.framework ) %>
</p>

