<h1>New request_node</h1>

<% form_for( :request_node,
             @request_node,
             :url => request_structure_request_nodes_path( @request_node.request_structure ),
             :method => :post ) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form',
             :object => f %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', request_structure_request_nodes_path( @request_node.request_structure ) %>

