  <p>
    Number of issues: <%= publication_expense.no_of_issues %>
  </p>
  <p>
    Number of copies per issue: <%= publication_expense.no_of_copies_per_issue %>
  </p>

  <p>
    Purchase price: <%= number_to_currency(publication_expense.purchase_price) %>
  </p>

  <p>
    Cost of publication: <%= number_to_currency(publication_expense.cost_publication) %>
  </p>

