<h1>New publication_expense</h1>

<% form_for(@publication_expense) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form',
              :object => f %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', publication_expenses_path %>

