<h2>Unauthorized request</h2>

<p>
You have been directed to this page because you have requested an action that you
are not permitted to access.  If you believe you are receiving this message in
error, please contact the website administrator.
</p>

<% unless current_user.nil? || current_user.approvals.unfulfilled.empty? %>
  <h3>Maybe you have not signed a required agreement</h3>

  <p>
  According to our records, there are certain things you can only do if you approve
  the following agreements.  Please approve them and try what you originally meant to do again.
  </p>

  <%= render :partial => 'user/approvals', :object => current_user.approvals.unfulfilled, :locals => { :id => 'unfulfilled_agreements' } %>
<% end %>

