<h1>New version</h1>

<% form_for( :version,
             @version,
             :url => item_versions_path(@version.item),
             :method => :post ) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form",
             :object => f %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', request_items_path(@version.item.request) %>

