<h1>New travel_event_expense</h1>

<% form_for(@travel_event_expense) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form',
             :object => f %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', travel_event_expenses_path %>

