<table>
  <tr>
    <th>Label</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>On campus</th>
  </tr>

  <%= render :partial => 'address', :collection => addresses %>

</table>

