<table>
<thead>
  <tr>
    <th>Label</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>On campus</th>
  </tr>
</thead>
<tbody>
  <%= render :partial => 'address', :collection => addresses %>
</tbody>
</table>

