<h1>Listing addresses for <%= @addressable %></h1>

<%= render :partial => "addresses", :object => @addresses %>

<br />

<p>
<%= link_to 'New address', new_polymorphic_path( [ @addressable, :address ] ) %>
</p>

