<h2>New address for <%=h @address.addressable %></h2>

<% semantic_form_for( :address, @address, :url => polymorphic_path( [ @address.addressable, :addresses ] ) ) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Back', polymorphic_path( [ @address.addressable, :addresses ] ) %>
</p>

