<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>Minimum Votes</th>
      <th>External Committee Id</th>
      <th>Affected Users</th>
    </tr>
  </thead>
  <tbody>
    <%=render partial: 'member_sources/member_source', collection: member_sources %>
  </tbody>
</table>

