<% state ||= false
   fund_grant ||= false
   fund_source = fund_grant.fund_source if fund_grant
   fund_source ||= false
   organization = fund_grant.organization if fund_grant
   organization ||= false
%>
<table>
<thead>
  <tr>
  <% unless fund_source -%>
    <th>Fund source</th>
  <% end -%>
  <% unless organization -%>
    <th>Requestor</th>
  <% end -%>
  <% unless state -%>
    <th>State</th>
  <% end -%>
  <th>Type</th>
  </tr>
</thead>
<tbody>
  <%= render :partial => 'fund_requests/fund_request', :collection => fund_requests, :locals => {
    :organization => organization, :state => state, :fund_source => fund_source
  } %>
</tbody>
</table>

