<% state ||= false %>
<% fund_source ||= false %>
<% organization ||= false %>

<table>
<thead>
  <tr>
  <% unless fund_source -%>
    <th>Fund source</th>
  <% end -%>
  <% unless organization -%>
    <th>Requestor</th>
  <% end -%>
  <% unless state -%>
    <th>State</th>
  <% end -%>
  </tr>
</thead>
<tbody>
  <%= render :partial => 'fund_requests/fund_request', :collection => fund_requests, :locals => {
    :organization => organization, :state => state, :fund_source => fund_source
  } %>
</tbody>
</table>

