<h2><%= @fund_request %></h2>

<p>
<b>Fund source:</b> <%= @fund_request.fund_grant.fund_source %>
</p>

<p>
<b>Requestor:</b> <%= @fund_request.fund_grant.organization %>
</p>

<p>
<b>State:</b> <%= @fund_request.state %>
</p>

<%
# TODO: Add detailed display of information for request:
# * Allocation summary
# * Approval summary
# * Item summary
%>

