<% if new_item.allowed_nodes.size > 0 && permitted_to?( :create, new_item ) %>
  <% table_row_tag false do %>
    <td colspan="3">
    <% form_for( :item, new_item, :url => new_request_item_path( new_item.request ), :method => :get ) do |f| %>

    <% unless new_item.parent.nil? %>
      <%= f.hidden_field :parent_id %>
    <% end %>

    <p>
      <%= f.label :node_id, 'Add New Item:' %>
      <%= f.collection_select :node_id, new_item.allowed_nodes, :id, :name %>
      <%= f.submit 'Add' %>
    </p>

    <% end %>
    </td>
    <td colspan="2">&nbsp;</td>
  <% end %>
<% end %>

