<% unless new_item.allowed_nodes.empty? %>
  <% form_for( :item,
               new_item,
               :url => request_items_path( new_item.request ) ) do |f| %>

  <% unless new_item.parent.nil? %>
  <%= f.hidden_field :parent_id %>
  <% end %>

  <p>
    <%= f.label :node_id, 'Add New Item:' %>
    <%= f.collection_select :node_id, new_item.allowed_nodes, :id, :name %>
    <%= f.submit 'Add' %>
  </p>

  <% end %>
<% end %>

