<h1>Listing items</h1>

<table>
  <tr>
    <th>Item Type</th>
    <th>Request amount</th>
    <th>Allocation amount</th>
    <th colspan="3">Available commands</th>
  </tr>

<%= render :partial => 'item',
           :collection => @request.items.root %>

</table>

<p>
New Item:
<select id="node" onchange="new_item_url(this.value)">
<option value="">Select a node</option>
<%= options_from_collection_for_select(
                     @request.basis.structure.nodes.root,
                     :id,
                     :name ) %>
</select>


</p>

