<style type="text/css">
table td { padding: 4px; }
</style>

<h1>Listing items for <%=h @request %></h1>

<table border="1px">
  <tr>
    <th>Perspective</th>
    <th>Amount</th>
    <th>Comment</th>
  </tr>

<%= render :partial => 'item', :collection => @request.items.root,
      :locals => { :read_only => false, :show_detail => false } %>

</table>

<%= render :partial => 'new_item', :object => @request.items.build %>

