<style type="text/css">
table td { padding: 4px; }
</style>

<h1>Listing items for <%=h @request %></h1>

<table>
  <tr>
    <th>Perspective</th>
    <th>Amount</th>
    <th>Comment</th>
    <th>Available commands</th>
  </tr>

<%= render :partial => 'item', :collection => @request.items.root %>

</table>

<%= render :partial => 'new_item', :object => @request.items.build %>

