<p>
  <b>Form type:</b>
  <%=h @item.node.requestable_type %>
</p>

<p>
  <b>Request node:</b>
  <%=h @item.node.name %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', request_items_path(@item.request_id) %>

