  <% table_row_tag do %>
    <% unless fulfiller %>
    <td><%=h fulfillment.fulfiller %></td>
    <% end %>
    <% unless fulfillable %>
    <td><%=h fulfillment.fulfillable %></td>
    <% end %>
  <% end %>

