<% if fund_grant.fund_tier %>
<p>
Because of its fund tier assignment, your organization is eligible to receive a maximum of <%= fund_grant.fund_tier %> from <%= fund_grant.fund_source %>.
</p>

<% end %>

