<p>
Dear Officers of <%= @fund_request.fund_grant.organization %>,
</p>

<p>
This email is a confirmation that your fund request for <%=h @fund_request.fund_grant.fund_source %> has been accepted for review.
<% if @fund_request.fund_queue %>
Your request was submitted before the <%= @fund_request.fund_queue %> deadline.
<% end %>
You will receive additional notice when a determination is released.
</p>

<p>
To see it, please go to: &lt;<%= link_to fund_request_url(@fund_request), fund_request_url(@fund_request) %>&gt;.
</p>

<% if @fund_request.fund_items.documentable.any? %>
<p>
You must provide certain supporting documents in support of your fund request.  Please follow the attached instructions and checklist to assemble any required supporting documents.
</p>
<% end %>

