<h2>Editing framework</h2>

<%= semantic_form_for(@framework) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @framework %> |
<%= link_to 'Back', frameworks_path %>
</p>

