<h1>Listing frameworks</h1>

<table>
<thead>
  <tr>
    <th>Name</th>
  </tr>
</thead>
<tbody>
  <%= render :partial => 'framework', :collection => @frameworks %>
</tbody>
</table>

<br />

<p>
<%= link_to 'New framework', new_framework_path %>
</p>

