<h2>Listing frameworks</h2>

<table>
<thead>
  <tr>
    <th>Name</th>
  </tr>
</thead>
<tbody>
  <%= render :partial => 'framework', :collection => @frameworks %>
</tbody>
</table>

<br />

<p>
<% if permitted_to? :create, Framework.new -%>
<%= link_to 'New framework', new_framework_path %>
<% end -%>
</p>

