<h1>Listing frameworks</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

  <%= render :partial => 'framework', :collection => @frameworks %>

</table>

<br />

<p>
<%= link_to 'New framework', new_framework_path %>
</p>

