<p>
  <b>Name:</b> <%=h agreement_detail.name %>
</p>

<p>
  <b>Contact name:</b> <%=h agreement_detail.contact_name %>
</p>

<p>
  <b>Contact email:</b> <%=h agreement_detail.contact_email %>
</p>

<p>
  <b>Content:</b> <%= redcloth( agreement_detail.content ) %>
</p>

