<p>
  <b>Name:</b> <%=h detail.name %>
</p>

<p>
  <b>Contact name:</b> <%=h detail.contact_name %>
</p>

<p>
  <b>Contact email:</b> <%=h detail.contact_email %>
</p>

<p>
  <b>Content:</b>
</p>

<%=markdown detail.content %>

