<h2>Editing agreement</h2>

<% semantic_form_for(@agreement) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @agreement %> |
<%= link_to 'Back', agreements_path %>
</p>

