<h1>Listing agreements</h1>

<table>
<thead>
  <tr>
    <th>Name</th>
  </tr>
</thead>
<tbody>
  <%= render :partial => 'agreement', :collection => @agreements %>
</tbody>
</table>

<br />

<p>
<%= link_to 'New agreement', new_agreement_path %>
</p>

