<h2><%=h @agreement %></h2>

<%= render :partial => 'agreements/detail', :object => @agreement %>

<p>
<%= link_to 'Edit', edit_agreement_path(@agreement) %> |
<%= link_to 'Back', agreements_path %>
</p>

