<h2>Editing organization</h2>

<% semantic_form_for(@organization) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @organization %> |
<%= link_to 'Back', organizations_path %>
</p>

