<h1>New organization</h1>

<% form_for( :organization, @organization,
             :url => (@registration ? registration_organization_url(@registration) : organizations_url ) ) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :object => f %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<p>
<%= link_to 'Back', organizations_path %>
</p>

