<h2>New organization</h2>

<% semantic_form_for( :organization, @organization,
  :url => (@registration ? registration_organization_path(@registration) : organizations_path ) ) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Back', organizations_path %>
</p>

