<h1><%=h @organization %> Profile</h1>

<% unless @organization.requests.creatable.empty? %>
<h2>Bases for you to make requests</h2>
<%= render :partial => 'requests/request',
           :collection => @organization.requests.creatable %>
<% end %>

<% unless @organization.requests.started.empty? %>
<h2>Requests you've started</h2>
<%= render :partial => 'requests/request',
           :collection => @organization.requests.started %>
<% end %>

<% unless @organization.requests.released.empty? %>
<h2>Requests that have been released</h2>
<%= render :partial => 'requests/request',
           :collection => @organization.requests.released %>
<% end %>

