<h2>Editing category</h2>

<% semantic_form_for(@category) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>
</p>

