<h2>Listing categories</h2>

<%= render :partial => "categories", :object => @categories %>

<br />

<p>
<% if permitted_to? :create, Category.new -%>
<%= link_to 'New category', new_category_path %>
<% end -%>
</p>

