<% level ||= 2 %>
<p>
  <b>Node:</b> <%=h detail.node %>
</p>

<%=render 'fund_allocations/fund_allocations',
  object: detail.fund_allocations.select { |a| permitted_to? :show, a },
  fund_item: detail %>

<%= render :partial => 'fund_editions/detailed',
  :collection => detail.fund_editions.for_request( fund_request ).
    select { |fund_edition| permitted_to? :show, fund_edition },
  :locals => { :level => level + 1 } %>

