<% level ||= 2 %>
<p>
  <b>Node:</b> <%=h detail.node %>
</p>

<% if permitted_to?( :review, detail ) -%>
  <p>
    <b>Amount:</b> <%= number_to_currency detail.amount %>
  </p>

<% end -%>

<%= render :partial => 'fund_editions/detailed',
  :collection => detail.fund_editions.select { |fund_edition| permitted_to? :show, fund_edition },
  :locals => { :level => level + 1 } %>

