<% fund_request ||= nil %>
<table>
<thead>
  <tr>
    <th>Title</th>
  </tr>
</thead>
<tbody>
<%= render :partial => 'fund_items/fund_item', :collection => fund_items,
  :locals => { :fund_request => fund_request } %>
</tbody>
</table>

