<p>
  Number of copies: <%= administrative_expense.copies %>
</p>

<p>
  Repairs and Restocking: <%= number_to_currency(administrative_expense.repairs_restocking) %>
</p>

<p>
  Mailbox at Willard Straight Hall: <%= number_to_currency(administrative_expense.mailbox_wsh) %>
</p>

