  <p>
    Number of copies: <%= allocation.copies %>
  </p>

  <p>
    Repairs and Restocking: <%= number_to_currency(allocation.repairs_restocking) %>
  </p>

  <p>
    Mailbox at Willard Straight Hall: <%= number_to_currency(allocation.mailbox_wsh) %>
  </p>

  <p>
    Maximum request: <%= number_to_currency(allocation.total) %>
  </p>

