  <p>
    Number of copies: <%= allocator_info.copies %>
  </p>

  <p>
    Repairs and Restocking: $<%= allocator_info.repairs_restocking %>
  </p>

  <p>
    Mailbox at Willard Straight Hall ($25 for renewal, $40 for new registration): <%= number_to_currency(allocator_info.mailbox_wsh) %>
  </p>

  <p>
    Total request $<%= allocator_info.total_request %>
  </p>

