<html>
<head>
<script type="text/javascript">
function addItem(el) {
  var itemHTML = '<input type="text" /> <a href="javascript:" onclick="remove(this)">remove</a>';
  var newItem = document.createElement("div");
  newItem.className = "item";
  newItem.innerHTML = itemHTML;
  var addLink = el.parentNode;
  addLink.parentNode.insertBefore(newItem, addLink);
}

function addNode(el) {
  var nodeHTML = '<p><a href="javascript:" onclick="addItem(this)">Add new item</a></p>';
  var newNode = document.createElement("div");
  newNode.className = "child_node";
  newNode.innerHTML = nodeHTML;
  var addLink = el.parentNode;
  addLink.parentNode.insertBefore(newNode, addLink);
}

function remove(el) {
  var item = el.parentNode;
  item.parentNode.removeChild(item);
}
</script>
<style type="text/css">
body { font-family: arial, sans-serif; padding: 40px; }
a { color: #00f; outline: none; }
.child_node { background-color: #ddd; margin: 20px 0px; padding: 15px; border: 1px solid #777; }
.item { margin: 10px 0px; }
</style>
</head>

<body>

  <h3>New Request</h3>

  <div id="root">

    <div class="child_node">
      <div class="item"><input type="text" /> <a href="#" onclick="remove(this)">remove</a></div>
      <div class="item"><input type="text" /> <a href="#" onclick="remove(this)">remove</a></div>
      <p><a href="javascript:" onclick="addItem(this)">Add new item</a></p>
    </div>

    <div class="child_node">
      <div class="item"><input type="text" /> <a href="#" onclick="remove(this)">remove</a></div>
      <p><a href="javascript:" onclick="addItem(this)">Add new item</a></p>
    </div>

    <p><a href="javascript:" onclick="addNode(this)">Add new node</p>

  </div>

</body>
</html>

