<h1>Editing basis</h1>

<% form_for(@basis) do |f| %>
  <%= render :partial => 'form',
             :object => f %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @basis %> |
<%= link_to 'Back', structure_bases_path( @basis.structure ) %>

