<h1>Listing bases for <%=h @structure %></h1>

<table>
  <tr>
    <th>Open at</th>
    <th>Closed at</th>
  </tr>

<%= render :partial => 'basis',
           :collection => @bases %>

</table>

<br />

<%= link_to 'New basis', new_structure_basis_path( @structure ) %>

