<h1>Listing bases</h1>

<table>
  <tr>
    <th>Structure</th>
    <th>Open at</th>
    <th>Closed at</th>
  </tr>

<%= render :partial => 'basis',
           :collection => @bases %>

</table>

<br />

<%= link_to 'New basis', new_basis_path %>

