<h2>New basis for <%=h @basis.organization %></h2>

<%= semantic_form_for( @basis, :url => organization_bases_path(@basis.organization) ) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Back', organization_bases_path( @basis.organization ) %>
</p>

