<p>
    <%= form.label :allocation_amount,"Allocation Amount" %><br />
    <%= form.text_field :allocation_amount %>
  </p>

<p>
    <%= form.label :allocator_comment,"Allocator Comment" %><br />
    <%= form.text_field :allocator_comment%>
  </p>

