  <p>
    <%= form.label :request_amount,"Requested Amount" %><br />
    <%= form.text_field :request_amount %>
  </p>

  <p>
    <%= form.label :requestor_comment,"Requestor Comment" %><br />
    <%= form.text_field :requestor_comment %>
  </p>

