<h1>Listing request_items</h1>

<table>
  <tr>
    <th>Item Type</th>
    <th>Request amount</th>
    <th>Allocation amount</th>
    <th colspan="3">Available commands</th>
  </tr>

<%= render :partial => 'item',
           :collection => @request.request_items.root %>

</table>

<p>
New Request Item:
<select id="request_node" onchange="new_item_url(this.value)">
<option value="">Select a node</option>
<%= options_from_collection_for_select(
                     @request.request_basis.request_structure.request_nodes.root,
                     :id,
                     :name ) %>
</select>

<!--<%= link_to 'New request_item', new_request_request_item_path( @request.id ) %>-->
</p>

