<h2>Editing approver for <%= @approver.framework %></h2>

<% semantic_form_for(@approver) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @approver %> |
<%= link_to 'Back', framework_approvers_path( @approver.framework ) %>
</p>

