<h2>Listing approvers for <%=  @framework %></h2>

<%= render :partial => "approvers", :object => @approvers %>

<br />

<p>
<%= link_to 'New approver', new_framework_approver_path( @framework ) %>
</p>

